.Home-container{
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    background-color: #bebebe8f;
}

.Publicacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}