.Publicacoes-conteneiner{
    display: flex;
    flex-direction: column;
}

.Publicacoes-container{
    margin: 5% 0%;
}

.Publicacoes-paragrafo{
    color: #3e3932;
    width: 30rem;
}

img{
    width: 45rem;
    border-radius: 0px 5px 5px 5px;
}